* {
	box-sizing: border-box;
}

.Forecast {
	width: 50%;
	display: block;
	background-image: linear-gradient(#6fd8ed, #117488);
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.Forecast-title {
	background-image: linear-gradient(#707575, #bdbfbf);
	text-align: center;
	width: 100%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	color: white;
}

.Forecast-body {
	width: 100%;
	display: inline-flex;
	color: white;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
}

.Forecast-info {
	flex-basis: 10em;
	flex-shrink: 1;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1em;
	font-size: 1.2em;
}

.Forecast-picture {
	flex-basis: 10em;
	flex-shrink: 1;
	display: inline-flex;
}

.Forecast-picture img{
	margin: 0.5em 0 0.5em 0;
	width: 100%;
	height: 100%;
}