* {
	box-sizing: border-box;
}

.Forecast {
	background-color: blue;
	width: 50%;
	display: inline-flex;
	color: white;
	justify-content: space-around;
	align-items: center;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding: 1em;
}

.Forecast-info {
	flex-basis: 10em;
	flex-shrink: 1;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1em;
	font-size: 1.2em;
}

.Forecast-picture {
	flex-basis: 10em;
	flex-shrink: 1;
	display: inline-flex;
}

.Forecast-picture img{
	margin: 0.5em 0 0.5em 0;
	width: 100%;
	height: 100%;
}