* {
	box-sizing: border-box;
}

.SearchBar div {
	background-color: black;
	width: 50%;
}

.SearchBar-field {
	padding: 0.5em;
	text-align: center;
}

.SearchBar-field input {
	width: 80%;
	text-align: center;
}

.SearchBar-submit {
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	text-align: center;
	padding-bottom: 0.5em;

}

.SearchBar-submit input:active {
	background-color: gray;
}

.SearchBar-submit input:hover {
	cursor: pointer;
}